<%= form_for(@survey_question) do |f| %>
  <% if @survey_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey_question.errors.count, "error") %> prohibited this survey_question from being saved:</h2>

      <ul>
      <% @survey_question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </div>
  <div class="field">
    <%= f.label :survey_type %><br>
    <%= f.text_area :survey_type %>
  </div>
  <div class="field">
    <%= f.label :response_type %><br>
    <%= f.text_area :response_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
