<p id="notice"><%= notice %></p>

<style>
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  padding-top: 40px;
  position: relative;
  width: 960px;
}

button {
  position: absolute;
  right: 10px;
  top: 10px;
}

.bullet { font: 10px sans-serif; }
.bullet .marker { stroke: blueviolet; stroke-width: 5px; }
.bullet .tick line { stroke: #666; stroke-width: .5px; }
.bullet .range.s0 { fill: chartreuse; }
.bullet .range.s1 { fill: lightgreen; }
.bullet .range.s2 { fill: wheat; }
.bullet .range.s3 { fill: darksalmon; }
.bullet .measure.s0 { fill: blueviolet; }
.bullet .measure.s1 { fill: blueviolet; }
.bullet .title { font-size: 14px; font-weight: bold; }
.bullet .subtitle { fill: #999; }

</style>

<h5>
  <strong>Name:</strong>
  <%= @teacher.name %>
</h5>

<h5>
  <strong>Email:</strong>
  <%= @teacher.email %>
</h5>

<h5>
  <strong>Level:</strong>
  <%= @teacher.teachings.last.level %>
</h5>

<h5>
  <strong>Summative Rating:</strong>
  <%= @teacher.teachings.last.summative_rating %>
</h5>

<h5>
  <strong>Schools:</strong>
  <%= @teacher.schools_from_enrollments.map { |s| s.name }.join(", ") %>
</h5>

<% json_path = "\"#{@teacher.id}.json\"".html_safe %>
<div id="teacher_ai_graph" data-json_path=<%= json_path %>></div>

<div id="teacher_bullet_graph" data-json_path=<%= json_path %>></div>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
