<p id="notice"><%= notice %></p>

<h5>
  <strong>Name:</strong>
  <%= @teacher.name %>
</h5>

<h5>
  <strong>Email:</strong>
  <%= @teacher.email %>
</h5>

<h5>
  <strong>Level:</strong>
  <%= @teacher.teachings.last.level %>
</h5>

<h5>
  <strong>Summative Rating:</strong>
  <%= @teacher.teachings.last.summative_rating %>
</h5>


<% json_path = "\"#{@teacher.id}.json\"".html_safe %>
<div id="teacher_ai_graph" data-json_path=<%= json_path %>></div>

<div id="teacher_bullet_graph" data-json_path=<%= json_path %>></div>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
