<p id="notice"><%= notice %></p>

<p>
  <strong>Teacher number:</strong>
  <%= @teacher.teacher_number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @teacher.active %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
